:root {
  --bg: #faedd7;
  --bg-accent: #fff;
  --box-shadow: 0 8px 20px rgba(241, 229, 212, 0.5);
}

/* @media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --bg: #0f0f0f;;*/
/*    --bg-accent: #1e1e1e;*/
/*    --box-shadow: 0 8px 20px rgba(47, 45, 45, 0.5)*/
/*  }*/
/*} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/

.bg-slider {
  border-radius: 20px;
  background-color: #fff;
}
